extends layout

block content
    h1= title
    p today's weather with #{brand}.
    p current temperature in #{current_city} is #{current_temp}° #{current_degree_type}.
    div
    img(src='#{current_image_url}')